/*  ///////////////////////////////////////////////
    Subj: Coding Dojo > Web Fundamentals > CSS
    Flex Nav Bar
    By: Virgilio D. Cabading Jr.
    Created: October 13, 2021
    /////////////////////////////////////////////// */

* {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.nav {                                      /* Navigation bar */
    background: rgb(2,0,36);
    background: linear-gradient(139deg, rgba(2,0,36,1) 0%, rgba(71,154,170,1) 34%, rgba(9,9,121,1) 93%);
    border-color: dodgerblue;
    border-width: 2px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav>* {
    margin: 10px;
}

.btn {                                      /* Button */
    background-color: dodgerblue;
    border-radius: 6px;
    border-width: 0px;
    box-shadow: 5px 4px 3px black;
    font-size:15px;
    padding: 0px 10px;                      /* Button padding left and right 10px */
}

a {                                         /* Links */
    font-size: 15px;
    color: skyblue;
    text-decoration: none;
}

a:hover {                                   /* Link turns white and gets underlined when hover */
    color: white;
    text-decoration: underline;
}

a:active {                                  /* Link turns white, gets underlined and enlarges when clicking */
    font-size: 17px;
    color: white;
    text-decoration: underline;
}

.btn:hover {                                /* Button gets darker when hover */
    background-color: blue;
}

.btn:active {                               /* Button gets darker and moves down when clicking */
    background-color: blue;
    transform: translateX(3px);
    transform: translateY(3px);
    box-shadow: 2px 1px 1px black;
}